{{>header}}
    <title>CURD | Home</title>
{{>navbar}}
<div class="container mid-section py-3">
    <h5 class=" bg-secondary text-center text-light p-2">Employee Data</h5>
    <table class=" table table-bordered">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>phone</th>
            <th>Designation</th>
            <th>Salary</th>
            <th>City</th>
            <th>State</th>
        </tr>       
        {{#each data}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{email}}</td>
          <td>{{phone}}</td>
          <td>{{designation}}</td>
          <td>{{salary}}</td>
          <td>{{city}}</td>
          <td>{{state}}</td>
          <td><a href="/update/{{id}}"><span class="material-symbols-outlined">edit</span></a></td>
          <td><a href="/delete/{{id}}"><span class="material-symbols-outlined text-danger">delete_forever</span></a></td>
        </tr>      
        {{/each}}
    </table>
</div>
{{>footer}}
    
